//--------------------------------------------------------------
// Call To Action Block
//--------------------------------------------------------------
.call-to-action {

	// Set up structure.
	.row {
		padding: $global-padding;
		text-align: center;

		@include breakpoint(tablet-portrait) {
			align-items: center;
			display: flex;
			justify-content: center;
			text-align: left;
		}
	} // .row
} // .call-to-action
